[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "<2"
matplotlib = "*"
scipy = "*"
scikit-learn = "*"
pandas = "*"
pillow = "*"
opencv-python = "*"
ipykernel = "*"
ipython = "*"

[dev-packages]

[requires]
python_version = "3.13"
python_full_version = "3.13.2"
